.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#drum-machine {
  border: solid 1px black;
  height: 22rem;
  width: 20rem;
}

#display {
  height: 2rem;
  font-size: 18pt;
  padding: 0.3rem;
  margin-top: 0.4rem;
}

#keys {
  display: flex;
  height: 18rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.drum-pad {
  border: solid 1px grey;
  height: 5rem;
  width: 5rem;
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
